<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0"/>
	</startup>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\CS_Internship\Udemy\WPF Project - Currency Converter 2 - DB\Database\CurrencyConverterDB.mdf;Integrated Security=True" providerName="sqlserver"  />
	</connectionStrings>
</configuration>